doctype html
html
	block head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Droid+Sans")
		script(type='text/javascript', src='/javascripts/jquery.js')
	body
		header
			h1 Go Nuts for Donuts
	block content
	footer Hope you enjoy your stay here!